! NEC Portable Internetwork Core Operating System Software
! IX Series IX2010 (magellan-sec) Software, Version 8.3.49, RELEASE SOFTWARE
! Compiled Nov 25-Fri-2011 10:29:23 JST #1
! Last updated Jan 21-Wed-2015 22:26:01 JST
!
!
hostname yukari
timezone +09 00
!
!
!
username nona password hash poepoe administrator
!
!
!
ntp ip enable
ntp server 133.243.238.244
ntp server 133.243.238.243
ntp server 133.243.238.163
ntp server 133.243.238.164
ntp interval 3600
!
!
!
!
!
ip ufs-cache enable
ip route default FastEthernet0/0.1 
ip dhcp enable
ip access-list dny-all deny ip src any dest any
ip access-list dny-from-priv deny ip src 192.168.0.0/16 dest any
ip access-list dny-from-priv deny ip src 172.16.0.0/12 dest any
ip access-list dny-from-priv deny ip src 10.0.0.0/8 dest any
ip access-list dny-to-priv deny ip src any dest 192.168.0.0/16
ip access-list dny-to-priv deny ip src any dest 172.16.0.0/12
ip access-list dny-to-priv deny ip src any dest 10.0.0.0/8
ip access-list management permit ip src 10.8.8.0/24 dest any
ip access-list napt-inside permit ip src 10.8.8.0/24 dest any
ip access-list napt-inside permit ip src 10.42.42.0/24 dest any
ip access-list pmt-all permit ip src any dest any
ip access-list pmt-dhcp-reply permit udp src 10.8.8.12/32 sport eq 67 dest any dport eq 68
ip access-list pmt-to-insidepi permit ip src 10.8.8.0/24 dest 10.42.42.0/24
ip access-list pmt-to-insidepi permit tcp established src 10.42.42.0/24 sport any dest 10.8.8.0/24 dport any
ip access-list pmt-to-insidepi permit icmp src 10.42.42.0/24 dest 10.8.8.0/24
ip access-list pmt-to-pi permit tcp src any sport any dest 10.42.42.3/32 dport eq 22
ip access-list pmt-to-pi permit tcp src any sport any dest 10.42.42.3/32 dport eq 80
ip access-list pmt-to-pi permit tcp src any sport any dest 10.42.42.3/32 dport eq 443
ip access-list pmt-to-pi permit icmp src any dest 10.42.42.3/32
ip access-list dynamic conntrack access pmt-all
!
!
!
!
!
!
!
ip name-server 10.42.42.3
ip name-server 8.8.8.8
ip name-server 8.8.4.4
ip name-server 208.67.222.222
!
!
telnet-server ip enable
telnet-server ip access-list management
!
http-server terminal timeout 30
http-server username nona
http-server ip access-list management
http-server ip enable
!
!
!
!
!
!
!
!
ppp profile biglobe
  authentication myname puepue
  authentication password puepue piepie
!
ip dhcp profile unnamed
  assignable-range 10.8.8.128 10.8.8.252
  subnet-mask 255.255.255.0
  default-gateway 10.8.8.12
  dns-server 10.42.42.3
  domain-name nna774.net
!
device FastEthernet0/0
!
device FastEthernet0/1
!
device FastEthernet1/0
  vlan-group 1 port 1
  vlan-group 2 port 2
!
device BRI1/0
  isdn switch-type hsd128k
!
interface FastEthernet0/0.0
  no ip address
  shutdown
!
interface FastEthernet0/1.0
  ip address 10.8.8.12/24 
  ip dhcp binding unnamed
  ip filter conntrack 65533 in
  ip filter pmt-to-insidepi 999 out
  ip filter pmt-to-pi 1000 out
  ip filter pmt-dhcp-reply 2000 out
  ip filter dny-all 65534 out
  no shutdown
!
interface FastEthernet1/0.0
  no ip address
  shutdown
!
interface BRI1/0.0
  encapsulation ppp
  no auto-connect
  no ip address
  shutdown
!
interface FastEthernet0/0.1
  encapsulation pppoe
  auto-connect
  ppp binding biglobe
  ip address ipcp
  ip napt enable
  ip napt inside list napt-inside
  ip napt service http 10.42.42.3 80 tcp 80
  ip napt service https 10.42.42.3 443 tcp 443
  ip napt service icmp 10.42.42.3 none icmp any
  ip napt service ssh 10.42.42.3 22 tcp 22
  ip filter dny-from-priv 100 in
  ip filter pmt-to-pi 1000 in
  ip filter dny-all 65534 in
  ip filter dny-to-priv 100 out
  ip filter conntrack 65533 out
  no shutdown
!
interface FastEthernet0/1.1
  encapsulation pppoe
  no auto-connect
  no ip address
  shutdown
!
interface FastEthernet1/0.1
  encapsulation pppoe
  auto-connect
  no ip address
  shutdown
!
interface FastEthernet1/0:1.0
  ip address 10.42.42.1/24 
  ip filter conntrack 65533 in
  ip filter pmt-to-insidepi 999 out
  ip filter pmt-to-pi 1000 out
  ip filter pmt-dhcp-reply 2000 out
  no shutdown
!
interface Loopback0.0
  ip address 127.0.0.1/8 
!
interface Null0.0
  no ip address
!
interface Tunnel0.0
  no ip address
  no shutdown
