! NEC Portable Internetwork Core Operating System Software
! IX Series IX2010 (magellan-sec) Software, Version 8.3.49, RELEASE SOFTWARE
! Compiled Nov 25-Fri-2011 10:29:23 JST #1
! Current time Oct 16-Thu-2014 01:55:14 JST
!
!
hostname yukari
timezone +09 00
!
!
!
username nona password hash poepoe administrator
!
!
!
ntp ip enable
ntp server 133.243.238.244
ntp server 133.243.238.243
ntp server 133.243.238.163
ntp server 133.243.238.164
ntp interval 3600
!       
!       
!       
!       
!       
ip ufs-cache enable
ip route default 10.8.8.1 
ip access-list management permit ip src 10.0.0.0/8 dest any
!       
!       
ipv6 route default FastEthernet0/0.0
!       
!       
!       
!       
!       
ip name-server 10.8.8.3
ip name-server 8.8.8.8
ip name-server 8.8.4.4
ip name-server 210.130.1.1
ipv6 name-server 240f:99:884:1:ba27:ebff:fe92:fce4 
ipv6 name-server 2001:4860:4860::8888 
ipv6 name-server 2001:4860:4860::8844 
!       
!       
telnet-server ip enable
telnet-server ip access-list management
!       
http-server terminal timeout 30
http-server username nona
http-server ip access-list management
http-server ip enable
!       
!       
!       
!       
!       
!       
!       
!       
device FastEthernet0/0
!       
device FastEthernet0/1
!       
device FastEthernet1/0
  port 1 shutdown
  port 2 shutdown
  port 3 shutdown
  port 4 shutdown
!       
device BRI1/0
  isdn switch-type hsd128k
!       
interface FastEthernet0/0.0
  ip address 10.8.8.2/8 
  ipv6 enable
  ipv6 address 240f:99:884:1:260:b9ff:fe49:f148/64
  no shutdown
!       
interface FastEthernet0/1.0
  ip address 10.8.8.12/8 
  no shutdown
!       
interface FastEthernet1/0.0
  ip address 10.8.8.11/8 
  no shutdown
!       
interface BRI1/0.0
  encapsulation ppp
  no auto-connect
  no ip address
  shutdown
!       
interface Loopback0.0
  ip address 127.0.0.1/8 
!       
interface Null0.0
  no ip address
!       
interface Tunnel0.0
  no ip address
  no shutdown
